{% extends "estructura.html" %}

{% block contenido %}
	<form method="post" action="">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submint">Buscar</button>
	</form>
	</br>
	{{mensaje}}
	
	{% if destinatarios %}
		<h3>Destinatarios encontrados:</h3>
		<table border=1 cellspacing=0 cellpadding=2 bordercolor="E60026">
			<tr>
				<th scope="col"><p class="text-center">Nombre</p></th>
				<th scope="col"><p class="text-center">Direccion</p></th>
				<th scope="col"><p class="text-center">Ciudad</p></th>
				<th scope="col"><p class="text-center">Codigo Postal</p></th>
			</tr>
			{% for x in destinatarios %}
				<tr>
					<td><p class="text-center">{{x.nombre}}</p></td>
					<td><p class="text-center">{{x.direccion}}</p></td>
					<td><p class="text-center">{{x.ciudad}}</p></td>
					<td><p class="text-center">{{x.codigo_postal}}</p></td>
				
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
