<!-- Pagina para buscar paquetes -->
{% extends "estructura.html" %}

{% block contenido %}
	<form method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Buscar</button>
	</form>

	{% if paquete %}
		<h3>Paquetes encontrados:</h3>
		<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
				<tr>
					<th scope="col"><p class="text-center">Contenido</th>
					<th scope="col"><p class="text-center">Valor</p></th>
					<th scope="col"><p class="text-center">Destinatario</p></th>
				</tr>

				{% for x in paquete %}
					<tr>
						<td><p class="text-center">{{x.contenido}}</p></td>
						<td><p class="text-center">{{x.valor}}</p></td>
						<td><p class="text-center">{{x.destinatario.nombre}}</p></td>
					</tr>
				{% endfor %}
		</table>
	{% else %}
		<h4>El paquete que buscas no existe.</h4>
	{% endif %}
	
{% endblock %}